* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Hanken Grotesk";
  font-weight: normal;
  max-width: 100%;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 100%;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}

.resultcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  background-image: linear-gradient(
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-radius: 0 0 2rem 2rem;
}

.title {
  color: hsla(241, 100%, 89%, 0.9);
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}

.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.score {
  font-size: 3.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.base {
  font-size: 1rem;
  color: hsla(241, 100%, 89%, 0.6);
}

.rating {
  font-size: 1.5rem;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 1;
}

p {
  font-size: 1rem;
  color: hsla(241, 100%, 89%, 0.9);
  font-weight: 500;
  text-align: center;
  padding: 0 1rem 1rem;
  margin-top: -0.8rem;
}

.summarycontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.summary {
  font-weight: 700;
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, 0.7);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

li {
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}

li::before {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
}

.all {
  margin-left: auto;
}

.number {
  color: black;
  font-weight: 600;
}

.hundred {
  color: hsla(0, 0%, 0%, 0.3);
  font-weight: 800;
}

.reaction {
  background-color: hsla(0, 100%, 67%, 0.06);
  color: hsla(0, 100%, 67%, 0.8);
  gap: 1rem;
}

.reaction::before {
  background-image: url(./assets/images/icon-reaction.svg);
}

.memory {
  background-color: hsla(39, 100%, 56%, 0.06);
  color: hsla(39, 100%, 56%, 0.8);
  gap: 1rem;
}

.memory::before {
  background-image: url(./assets/images/icon-memory.svg);
}

.verbal {
  background-color: hsla(166, 100%, 37%, 0.06);
  color: hsla(166, 100%, 37%, 0.8);
  gap: 1rem;
}

.verbal::before {
  background-image: url(./assets/images/icon-verbal.svg);
}

.visual {
  background-color: hsla(234, 85%, 45%, 0.06);
  color: hsla(234, 85%, 45%, 0.8);
  gap: 1rem;
}

.visual::before {
  background-image: url(./assets/images/icon-visual.svg);
}

.continue {
  background-color: hsl(224, 30%, 27%);
  color: hsla(0, 0%, 100%, 0.8);
  font-weight: 500;
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 18px;
}

.continue:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.attribution {
  padding-top: 2rem;
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: hanken grotesk;
  src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .container {
    width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
  .resultcontainer {
    width: 50%;
    border-radius: 2rem;
    gap: 1.5rem;
    padding: 2rem;
  }

  .title {
    font-size: 1.5rem;
  }
  .circle {
    width: 12rem;
    height: 12rem;
  }
  .score {
    font-size: 4rem;
  }
  .rating {
    padding-top: 1rem;
    font-size: 2rem;
  }
  p {
    padding: 0 1.5rem 1rem;
    margin-top: 0;
  }
  .summarycontainer {
    gap: 2rem;
    padding: 2rem;
    width: 50%;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 5px 5px 15px hsla(241, 100%, 89%, 0.5);
  }
  .summary {
    font-size: 1.5rem;
  }

  ul {
    border-radius: 1rem;
    font-size: 1rem;
    gap: 1rem;
  }
  .attribution {
    margin: auto;
  }
}
